* {
	--space-1: 5px;
	--space-2: 10px;
	--space-3: 15px;
	--space-4: 30px;

	--radius: 8px;

	box-sizing: border-box;
	transition: all 122ms linear;
}

@font-face {
	font-family: 'Nunito', sans-serif;
	font-optical-sizing: auto;
	src: url('/assets/fonts/Rubik-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html,
body {
	margin: 0 !important;
	height: 100% !important;
	scroll-behavior: smooth;

	font-family: 'Nunito', sans-serif;
	color: var(--zmey-text-primary);
	background-color: var(--zmey-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
}

a {
	color: var(--zmey-text-primary);
	text-decoration: none;
}

a:hover {
	color: var(--zmey-color-primary-hover);
}

button {
	display: flex;
	border: none;
	border-radius: var(--radius);
	cursor: pointer;
	color: var(--zmey-text-primary);
	background-color: transparent;
	padding: var(--space-1);
	align-items: center;
}

i {
	font-size: 20px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
